// Place all the styles related to the Profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin comment_base {
	position: absolute;
	padding: 0 10px 0 10px;
	float: left;
	// border: 1px solid black;
	border-radius: 5px;
	width: 100%;
	.posted_time {
		margin: 5px 0 0 10px;
	}
	.judgment_bar {
		float: right;
		i {
			font-weight: bold;
			font-size: 18px;
			font-style: normal;
		}
		.true_false_divider {
			display: inline-block;
			width: 30px;
			height: 10px;
		}
	}
}

.comment_element {
	border: 1px solid black;
	border-radius: 5px;
	padding: 3px;
	margin-bottom: 20px;
}

#comment_container {
	position: relative;
	float: left;
	width: 60%;
	margin-left: 20px;
}

#news {
	@include comment_base;
	border: none;
}

#stories {
	@include comment_base;
	visibility: hidden;
}

#quotes {
	@include comment_base;
	visibility: hidden;
}

#personality {
	@include comment_base;
	visibility: hidden;
}

#romance {
	@include comment_base;
	visibility: hidden;
}

#workplace {
	@include comment_base;
	visibility: hidden;
}

#coolnesses {
	@include comment_base;
	visibility: hidden;
}

#prof_pic_container {
	margin-left: 20px;
	max-height: 250px;
	max-width: 20%;
	float: left;
	.profile_picture {
		max-height: 100%;
		float: left;
	}
}



#sidebar {
	margin-left: 20px;
	display: inline-block;
	border: 1px solid black;
	margin-bottom: 30px;
	border-radius: 5px;
	float: left;
	li {
		// background-color: #445566;
	}
}

#basic_info {
	width: 70%;
	// border: 1px solid black;
	margin-left: 80px;
	float: left;
	#name {
		float: left;
	}
	ul {
		float: left;
	}
}

body {
	padding-top: 70px;
}

.navbar {
	width: 100%;
}

