// Place all the styles related to the Profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#prof_pic_container {
	max-width: 20%;
	float: left;
}

#basic_info {
	width: 70%;
	// border: 1px solid black;
	margin-left: 80px;
	float: left;
	#name {
		float: left;
	}
	ul {
		float: left;
	}
}

body {
	padding-top: 70px;
}

.navbar {
	width: 100%;
}

.profile_picture {
	float: left;
}